*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header{
    background: rgb(230, 100, 0);
    height: 208px;
}
body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
p{
    text-align: center;
}
.TimKiem-text{
    width: 66%;
    height: 40px;
    background-color: none;
    border: 1px solid red;
    border-radius: 10px;    
    margin-left: 200px;
}
.TimKiem-text>img{
    margin-bottom: 90px;
    margin-top: -39px;
    margin-left: -20px;
    margin-right: 90px;
}
.TimKiem-text input{
    height: 38px;
    width: 844px;
    border: none;
    padding-left: 10px;
    border-radius: 10px;
}
.TimKiem-btn{
    float: left;
    width: 700px;
    height: 38px;
    line-height: 38px;
    text-align: center;
}
.TimKiem-text input:focus, .TimKiem-text input:active, .TimKiem-text input{
    outline: 0;
    outline-style: none;
    outline-width: 0;
    border-radius: 10px 10px 10px 10px;
}
.TimKiem-text>img{
    margin-left: 846px;
}
.menu ul ul a:hover{
    background-color: orangered;
    color: white;
}
.menu > ul > li{
    display: inline-block;
    position: relative;
}
.menu > ul > li > a{
    display: block;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    color: white;
    padding: 0 10px;
    line-height: 54px;
    
}
.menu > ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color:rgb(65, 24, 92);
    text-align: center;
    height: 140px;
    margin-left: -400px;
    width: 1480px;
}
.menu > ul > li > a:hover{
    color: yellow;
}
.menu ul ul{
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 1px gray;
}
.menu ul ul a{
    display: block;
    line-height: 30px;
    color: orangered;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    padding: 0 10px;
}
.menu > ul > li:hover>ul{
    display: block;
}
nav box1{
    height: 400px;
}
.box1{
    width: 100%;
    height: 1000px;
    background-color: rgb(212, 13, 96);   
    border: 2px solid red;
    padding-left: 92px;
}
.box1>h3{
    text-align: left;
    color: yellow;
    font-weight: bold;
    margin-left: -90px;
}
.box2{
    width: 43%;
    height: 420px;
    border: 2px solid rgb(197, 238, 15);
    background-color: white;
    padding: 10px;
    padding-bottom: 0px;
    margin: 19px;
    float: left;
    text-align: center;
    background-size: 305%;;
    border-radius: 15px;
    font-variant: small-caps Yellow;
    max-width:95%;
    color: blue;
}
.box3{
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 2px;
    font-size: small;
    font-variant: small-caps Yellow;
}
.box2>img{
    width: 80%;
    height: 80%;
}
.box2:hover{
    box-shadow: 0 0 5px red;
    background-color:burlywood;
    position: relative;
    top: -10px;
}
.gia{
    color: red;
    font-weight: bold;
    float: center;
    font-size: larger;
}
article iframe{
    width: 100%;
    min-height: 800px;
    background-color: rgb(12, 1, 1);
    margin: auto;
}
footer iframe{
    padding: 0px;
    margin-bottom: auto;
    color: white;
    background-color: rgb(0, 0, 0);
}
.KetDoan1{
    width: 640px;
    background-color: rgb(226, 40, 40);
    padding-right: 10px;
    text-align: left;   
    height: 185px;
    margin-bottom: -80px;
    color:aliceblue
}
.KetDoan1>h3{
    color:Black;
}
.KetDoan2{
    background-color:rgb(157, 148, 204);
    width: 640px;
    height: 120px;
    text-align: left;
    margin-bottom: -110px;
    color:aliceblue
}
.KetDoan2>h3{
    color:black;
}
.KetDoan3{
    background-color:blue;
    width: 640px;
    height: 125.2px;
    text-align: center;
    margin-top: 95px;
    margin-bottom: -50px;
    color:rgb(255, 255, 255)
}
.KetDoan3>h1{
    color:black;
}
.KetDoan4 img{
    width:623px;
    height:54px;
    border-radius: 10px;
    margin-left: 640px;
    margin-top: -290px;
    margin-bottom: -36px;
}
.map iframe{
    margin-top: -450px;
    margin-bottom: 35px;
    margin-left: 640px;
    width: 623px;
    height: 282px;
}